/* Shared Style */
.nav-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}

* {
    font-family: 'Work Sans';
}

/* header styles */
header {
    background-color: lightpink;
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}



/* Banner related style */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    color: #727272;
}

.btn-primary {
    border-radius: 8px;
    background: #ff900e;
    padding: 20px 25px;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    border: 0;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* team related style */
.team-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.45rem;
}

.team-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick {
    color: #727272;
    font-weight: 500;
}

.teams-title .sui {
    color: #ff900e;
    font-weight: 700;
}

main {
    width: 1440px;
    margin: 70px auto;
}


/* features related style */
.facts-cart-container {
    display: flex;
    justify-content: space-around;
}
.facts-cart-container .card{
    border-radius: 8px;
    border: 1px solid #ff900e;
    text-align: center;
    padding: 30px;
  

}
.facts-cart-container .card-states{
    font-size: 2.5rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;

}

.facts-cart-container .card-title{
    font-weight: 600;
    color: #424242;
    font-size: 1.25rem;
    margin-top: 5px;

}














/* Responsive Media Query for small devices */
@media screen and (max-width:576Px) {
    header {
        padding: 20px;
    }

    nav,
    .team-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .teams-img-container {
        display: grid;
        grid-template-columns: 1fr;
       
    }

    .team-content {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Responsive for medium devices */

@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;

    }
}